.container {
  text-align: center;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  border-radius: 20px;
}

.active {
    
  background: linear-gradient(
    90deg,
    rgb(255, 146, 182) 20%,
    hsla(266, 75%, 55%, 1) 100%
  );
  color: white;

}

